@model Assignmnt.Models.Cascade

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
@using (Html.BeginForm("Index", "Default", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Registration Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(x => x.RegCand.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.RegCand.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.RegCand.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.RegCand.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.RegCand.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.RegCand.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.RegCand.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Male @Html.RadioButtonFor(x => x.RegCand.Gender, "Male")
                Female @Html.RadioButtonFor(x => x.RegCand.Gender, "Female")
                @Html.ValidationMessageFor(x => x.RegCand.Gender, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.StateId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StateId, ViewBag.statelist as List<SelectListItem>, "Please select", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.CityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CityId, new SelectList(" "), "--Select City--", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#StateId").change(function () {
            $.get("/Default/City_Bind", { StateId: $("#StateId").val() }, function (data) {
                $("#CityId").empty();
                $.each(data, function (index, row) {
                    $("#CityId").append("<option value='" + row.id + "'>" + row.name + "</option>")
                });
            });
        })
    });

</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@if (@Model != null) {
<script type="text/javascript">
    $(function () {
        alert("Data Saved Successfully");
    });

</script>
}